
@import '../style/mixins/clearfix.less';

.u-menu {
  .clearfix;
  .u-menu-item {
    float: left;

    &:not(first) {
      margin-left: 15px;
    }

    &.active {
      color: aquamarine;
    }
  }

}