@import '../style/mixins/clearfix.less';

.comp-menu.horizontal {
  .clearfix;

  .comp-menu-item {

    &:not(first) {
      margin-left: 15px;
    }

    &.active {
      color: aquamarine;
    }
  }

}


.comp-menu.vertical {
  border-right: 1px solid #ddd;

  .comp-menu-item {
    padding: 7px 0;
    padding-left: 15px;
    color: #666;

    &.active {
      color: #35c9c1;
      background: #f0fffc;
    }
  }

  .comp-menu-sub {
    color: #666;

    .comp-menu-sub-title {
      .clearfix;

      padding: 7px 15px;
    }

    >ul {
      display: none;

      .comp-menu-item {
        padding: 7px 0;
        padding-left: 30px;
      }
    }

    &.opened {
      .comp-menu-sub-title {}

      >ul {
        display: block;
      }
    }

    &.active {
      color: #35c9c1;
    }
  }



}